.dropdown {
  button {
    cursor: pointer;

    &:hover {
      border-bottom: solid white;
      transform: scaleX(1);
      transition: transform 0.5s ease-in-out;
    }

    &:hover {
      transform: scaleX(1);
    }
  }

  img {
    cursor: pointer;
  }
}
