.header-container {
  text-align: center;

  .header {
    display: flex;
    justify-content: space-between;

    .navbar {
      display: flex;
      flex: 1;
      justify-content: flex-start;

      img[alt="logo"] {
        margin-right: 3em;
      }

      .dropdown {
        margin: 1em;
        text-align: center;

        .menu {
          text-align: center;
          display: none;

          ul {
            padding: 0;
          }
        }
      }
    }
  }

  h1 {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

.body1 {
  text-align: center;
  position: relative;
  margin-bottom: -2em;

  .body1-container {
    display: flex;

    .body1-info {
      margin: 7em;
      text-align: left;

      &:nth-of-type(1) {
        margin-top: 9em;
      }
    }

    .body1-img {
      position: relative;
      width: 130em;
      height: auto;
      overflow-x: hidden;
      top: -5em;
    }
  }
}

.body2 {
  display: flex;
  height: 20em;
 
  .body2-info {
    margin-right: 10em;
    margin-left: 7em;
    justify-self: center;
    align-self: center;
  }
}